<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Hi.</h1>
    <h2>

        Let's add some stuff.
    </h2>

    <form action="/todos" method="post">
        <input type="text" name="secretTodoItem">
        <button type="submit">Add</button>
    </form>

    <ul>
        <% todos.forEach((todo, index) => { %>

        <li>
            <form action="/todos/<%= index %>" method="post">
                <input type="text" name="secretTodoItem" value="<%= todo %>">
                <button type="submit">Modify</button>
            </form>

        </li>

        <% }) %>
    </ul>
</body>

</html>